<a href="https://colab.research.google.com/github/Nongbon/INTERNSHIP_NARIT/blob/main/M_phot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!wget https://raw.githubusercontent.com/Nongbon/INTERNSHIP_NARIT/main/data_phot.csv

--2021-05-13 14:41:42--  https://raw.githubusercontent.com/Nongbon/INTERNSHIP_NARIT/main/data_phot.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22722 (22K) [text/plain]
Saving to: ‘data_phot.csv.1’

data_phot.csv.1     100%[===================>]  22.19K  --.-KB/s    in 0.001s

2021-05-13 14:41:42 (17.9 MB/s) - ‘data_phot.csv.1’ saved [22722/22722]

In [ ]:
data_phot = pd.read_csv("data_phot.csv").drop(['E(B-V)'],axis=1)
data_phot

          KIC       d_est        d_lo  ...       r       J       K
0     1433760  192.958633  190.228856  ...  16.982  13.884  13.128
1     2831828  106.524990  105.009638  ...  18.779  14.845  14.062
2     2971472   40.706364   40.647560  ...  14.948  10.889  10.028
3     2983661  148.671765  147.470011  ...  16.738  13.490  12.695
4     3101838  201.853369  199.615989  ...  16.470  13.252  12.375
..        ...         ...         ...  ...     ...     ...     ...
203  12508767   75.955190   75.746448  ...  15.216  11.977  11.166
204  12645891  199.483571  195.889349  ...  17.989  14.318  13.638
205  12735831   68.307667   68.080168  ...  16.321  12.940  12.163
206  12784248   79.894261   79.242447  ...  18.788  14.281  13.403
207  12884812  126.623999  125.623639  ...  16.742  13.406  12.527

[208 rows x 10 columns]

In [ ]:
data_phot['M_r'] = data_phot.r - 5 * (np.log10(data_phot.d_est)-1) - data_phot.A_r
data_phot['M_J'] = data_phot.J - 5 * (np.log10(data_phot.d_est)-1) - data_phot.A_J
data_phot['M_K'] = data_phot.K - 5 * (np.log10(data_phot.d_est)-1) - data_phot.A_K
data_phot

          KIC       d_est        d_lo  ...        M_r       M_J       M_K
0     1433760  192.958633  190.228856  ...  10.501134  7.442662  6.697207
1     2831828  106.524990  105.009638  ...  13.622536  9.702715  8.923497
2     2971472   40.706364   40.647560  ...  11.890469  7.838275  6.979091
3     2983661  148.671765  147.470011  ...  10.834219  7.617696  6.831093
4     3101838  201.853369  199.615989  ...   9.878502  6.709459  5.845520
..        ...         ...         ...  ...        ...       ...       ...
203  12508767   75.955190   75.746448  ...  10.794044  7.569195  6.761970
204  12645891  199.483571  195.889349  ...  11.457165  7.810009  7.136370
205  12735831   68.307667   68.080168  ...  12.135105  8.764106  7.989774
206  12784248   79.894261   79.242447  ...  14.254868  9.763041  8.889089
207  12884812  126.623999  125.623639  ...  11.202389  7.886344  7.012667

[208 rows x 13 columns]

In [ ]:
data_phot.corr()

            KIC     d_est      d_lo  ...       M_r       M_J       M_K
KIC    1.000000  0.140471  0.142569  ... -0.024861 -0.030136 -0.031051
d_est  0.140471  1.000000  0.999108  ... -0.437018 -0.433385 -0.428921
d_lo   0.142569  0.999108  1.000000  ... -0.448963 -0.443330 -0.439107
d_hi   0.137817  0.998913  0.996055  ... -0.423254 -0.421753 -0.417016
A_r   -0.005902  0.665269  0.667006  ... -0.303153 -0.298138 -0.297220
A_J   -0.005902  0.665269  0.667006  ... -0.303153 -0.298138 -0.297220
A_K   -0.005902  0.665269  0.667006  ... -0.303153 -0.298138 -0.297220
r      0.127325  0.442960  0.441261  ...  0.520713  0.532768  0.532125
J      0.141069  0.592245  0.595274  ...  0.267012  0.340775  0.346337
K      0.140163  0.592206  0.595057  ...  0.259918  0.337731  0.345548
M_r   -0.024861 -0.437018 -0.448963  ...  1.000000  0.967331  0.960393
M_J   -0.030136 -0.433385 -0.443330  ...  0.967331  1.000000  0.998558
M_K   -0.031051 -0.428921 -0.439107  ...  0.960393  0.998558  1.000000

[13 rows x 13 columns]

In [ ]:
M = data_phot.iloc[:,10:13]
M

           M_r       M_J       M_K
0    10.501134  7.442662  6.697207
1    13.622536  9.702715  8.923497
2    11.890469  7.838275  6.979091
3    10.834219  7.617696  6.831093
4     9.878502  6.709459  5.845520
..         ...       ...       ...
203  10.794044  7.569195  6.761970
204  11.457165  7.810009  7.136370
205  12.135105  8.764106  7.989774
206  14.254868  9.763041  8.889089
207  11.202389  7.886344  7.012667

[208 rows x 3 columns]

In [ ]:
M.to_csv("M_phot.csv")