<a href="https://colab.research.google.com/github/Nongbon/INTERNSHIP_NARIT/blob/main/M_spec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [4]:
!wget https://raw.githubusercontent.com/Nongbon/INTERNSHIP_NARIT/main/data_spec.csv

--2021-05-13 14:49:36--  https://raw.githubusercontent.com/Nongbon/INTERNSHIP_NARIT/main/data_spec.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33802 (33K) [text/plain]
Saving to: ‘data_spec.csv’

data_spec.csv       100%[===================>]  33.01K  --.-KB/s    in 0.002s

2021-05-13 14:49:36 (14.2 MB/s) - ‘data_spec.csv’ saved [33802/33802]

In [7]:
data_spec = pd.read_csv("data_spec.csv").drop(['E(B-V)'],axis=1)
data_spec

          KIC       d_est        d_lo  ...       r       J       K
0     1995305  139.882019  138.639824  ...  16.452  13.233  12.513
1     2164791   39.964355   39.798297  ...  15.201  11.282  10.444
2     2283749  291.795223  285.741630  ...  16.976  13.714  12.877
3     2693779  176.657938  175.040483  ...  16.698  13.423  12.547
4     2832720  154.108925  152.412044  ...  15.732  12.358  11.478
..        ...         ...         ...  ...     ...     ...     ...
304  12506640   97.789255   97.397369  ...  15.489  12.349  11.586
305  12644136   43.998376   43.918048  ...  15.666  11.701  10.858
306  12688403  110.781815  110.022197  ...  15.671  12.323  11.465
307  12689068  170.244403  168.738357  ...  16.930  13.646  12.807
308  12735296  248.393293  218.117724  ...  16.497  13.285  12.435

[309 rows x 10 columns]

In [8]:
data_spec['M_r'] = data_spec.r - 5 * (np.log10(data_spec.d_est)-1) - data_spec.A_r
data_spec['M_J'] = data_spec.J - 5 * (np.log10(data_spec.d_est)-1) - data_spec.A_J
data_spec['M_K'] = data_spec.K - 5 * (np.log10(data_spec.d_est)-1) - data_spec.A_K
data_spec

          KIC       d_est        d_lo  ...        M_r       M_J       M_K
0     1995305  139.882019  138.639824  ...  10.691532  7.495903  6.782138
1     2164791   39.964355   39.798297  ...  12.185551  8.271781  7.435177
2     2283749  291.795223  285.741630  ...   9.565331  6.366285  5.546080
3     2693779  176.657938  175.040483  ...  10.415206  7.174997  6.308278
4     2832720  154.108925  152.412044  ...   9.744037  6.406080  5.535695
..        ...         ...         ...  ...        ...       ...       ...
304  12506640   97.789255   97.397369  ...  10.507605  7.389707  6.632603
305  12644136   43.998376   43.918048  ...  12.441250  8.481836  7.640326
306  12688403  110.781815  110.022197  ...  10.424598  7.094359  6.241098
307  12689068  170.244403  168.738357  ...  10.739747  7.481502  6.649374
308  12735296  248.393293  218.117724  ...   9.469813  6.295822  5.455962

[309 rows x 13 columns]

In [9]:
data_spec.corr()

            KIC     d_est      d_lo  ...       M_r       M_J       M_K
KIC    1.000000  0.115715  0.127260  ... -0.096868 -0.087933 -0.091667
d_est  0.115715  1.000000  0.981872  ... -0.493149 -0.538266 -0.535768
d_lo   0.127260  0.981872  1.000000  ... -0.536045 -0.573940 -0.570739
d_hi   0.097620  0.975457  0.916438  ... -0.427792 -0.477865 -0.476389
A_r    0.038219  0.780537  0.831913  ... -0.505522 -0.518499 -0.517382
A_J    0.038219  0.780537  0.831913  ... -0.505521 -0.518499 -0.517382
A_K    0.038219  0.780537  0.831913  ... -0.505522 -0.518499 -0.517382
r      0.062666  0.365854  0.411829  ...  0.359788  0.343962  0.340792
J      0.099180  0.467718  0.532843  ...  0.100307  0.141681  0.145330
K      0.095864  0.464401  0.529716  ...  0.096994  0.143311  0.149984
M_r   -0.096868 -0.493149 -0.536045  ...  1.000000  0.969199  0.961229
M_J   -0.087933 -0.538266 -0.573940  ...  0.969199  1.000000  0.998114
M_K   -0.091667 -0.535768 -0.570739  ...  0.961229  0.998114  1.000000

[13 rows x 13 columns]

In [10]:
M_spec = data_spec.iloc[:,10:13]
M_spec

           M_r       M_J       M_K
0    10.691532  7.495903  6.782138
1    12.185551  8.271781  7.435177
2     9.565331  6.366285  5.546080
3    10.415206  7.174997  6.308278
4     9.744037  6.406080  5.535695
..         ...       ...       ...
304  10.507605  7.389707  6.632603
305  12.441250  8.481836  7.640326
306  10.424598  7.094359  6.241098
307  10.739747  7.481502  6.649374
308   9.469813  6.295822  5.455962

[309 rows x 3 columns]

In [12]:
M_spec.to_csv("M_spec.csv")